<p>{{mensaje}}</p>
<div class="row">
    @for (game of coleccion; track game.id) {
      <div class="col-md-4">
        <div class="card mb-4 game-card" [style.background-image]="'url(' + game.background_image + ')'">
          <div class="card-body game-card-body">
            <h5 class="card-title">
              <a [routerLink]="['/juego', game.id]">{{ game.name }}</a>
              <button class="btn btn-link collection-btn" (click)="toggleFavorite(game.id)">
                {{ colectorService.esFavorito(game.id) ? 'Eliminar de Colección' : 'Añadir a Colección' }}
              </button>
            </h5>
            <p class="card-text">Fecha de Lanzamiento: {{ game.released }}</p>
            <p class="card-text">Metacritic: {{ game.metacritic }}</p>
            <p class="card-text">Tiempo de Juego: {{ game.playtime }} horas</p>
            <p class="card-text">Plataformas: 
              @for (platform of game.platforms; track platform.platform.id) {
                {{platform.platform.name}}
                @if(!$last) {, }
              }
            </p>
          </div>
        </div>
      </div>
    }
  </div>